.layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.GenerationInfoContainer{
    width: 100%; 
    display: flex;
}

.GenerationTableContainer{
    width: 30%;
    margin : 20px;
}

.GenerationTable{
    border: 1px  solid blue;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: xxx-large;
}

.GenerationItem {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    padding: 5px 0px;
}



